Django>4.1,<4.2
Pillow
Pygments
arrow
boto3
boto3-stubs
celery
celery-redbeat
dj-database-url
django-allauth
django-braces
django-cache-url
django-configurations
django-cors-headers
django-extensions
django-import-export
django-post-office
django-redis
django-ses
django-storages
djangoql
djangorestframework
djangorestframework-simplejwt
drf-spectacular
flake8
flower
gunicorn
honeybadger
psycopg2-binary
pytz
requests
sentry-sdk
whitenoise
djoser
django-jazzmin
asgiref
certifi
cffi
chardet
cryptography
defusedxml
django-templated-mail
idna
oauthlib
PyJWT
six
social-auth-app-django
social-auth-core
urllib3